.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 2.5rem;
  align-items: center;
}

.buttonContainer {
  width: 100%;
  margin-top: 1%;
  text-align: center;
  margin-bottom: 1%;
}

.button {
  margin: 10px;
}

.formContainer {
  width: 20%;
  margin: auto;
}

.formContainer input {
  width: 80%;
}

.formContainer button {
  width: 15%;
}

.stockListContainer {
  width: 90%;
  margin: auto;
}
