.registrationForm {
  width: 50%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 1px solid gray;
  background-color: #f7f7f7;
  border-radius: 6px;
}

.registrationForm input {
  margin: 2%;
}
